.bg {
    background: url('./img/real-state-project.jpg') no-repeat center center;
    width: 100%;
    height:100vh;
}

@media screen and (min-width: 768px) {
    .hamburguer-icon {
        display: none;
    }
}

